.App {
  text-align: center;
}
body,
.ant-modal,
.ant-modal-body,
.ant-layout,
.ant-collapse > .ant-collapse-item > .ant-collapse-header,
.ant-btn-dashed,
.ant-select-dropdown,
.ant-select-selector,
.ant-dropdown,
.ant-popover-inner-content,
.ant-modal-content,
.ant-dropdown-menu {
  background: #001529 !important;
  color: white !important;
}
.ant-form-item-label > label,
.ant-popover-message,
.ant-dropdown-menu-title-content,
.ant-modal-confirm-body .ant-modal-confirm-title,
.ant-modal-close-x,
.ant-input,
.ant-list,
.ant-list-item,
.ant-list-item-meta-content,
.ant-list-item-meta-title,
.ant-select-item,
.anticon,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}
.ant-dropdown-menu-title-content:hover,
.ant-select-item:hover {
  color: #001529;
}

.ant-layout-sider {
  border-right: 1px solid;
}

input,
.ant-input-affix-wrapper {
  background: #001529 !important;
}
input::placeholder {
  color: #ccc !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
